* {
    box-sizing: border-box;
  }
body{
    background-color: rgb(180, 234, 196);
    margin: 0;
}

.navbar{
    display: flex;
    border: 1px solid black;
    font-size: 30px;
    margin-top:0px;
    height: 70px;
    background-color: black;
    overflow: hidden;
    
}
.navbar a{
    height: 80px;
    width: 15%;
    padding: 10px 0;
    border-right: 1px solid rgb(223, 207, 207);
    text-decoration: none;
    color: white;
    text-align: center;
}
.navbar img{
    width: 15%;
}
.navbar a:hover{
    background-color: rgb(225, 225, 234);
    color:black;
}
.se1{
    float: left;
    width: 25%;
   
    
    font-size: 30px;
    border-radius: 5px;


}
nav .btn1{
    float: left;
    width: 10%;
    padding: 10px;
    background-color: aquamarine;
    font-size: 25px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 5px;
}
.btn1:hover{
    background-color: black;
    color: aliceblue;
}
.tit1{
    color: rgb(4, 4, 4);
    font-size:50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    margin-left: 15%;

}
.imagestyle{
    display: block;
    
    

}
.imgta{
    padding: 1%;
    width: 30%;
    height: 20%;
    transition: width 0.10s, height 0.10s, transform 1s;
}
.logo{
    border-radius: 80px;
}
.imgta:hover{
    width: 31%;
    height:21% ;
    transform: translate(2px,3px);
}
footer{
    background-color: black;
    height: 200px;
}
.foothead{
    color: blue;
}
.fcontainer{
    float: left;
    font-size: 40px;
}
.fcontainer a{
    padding: 0 40px;
    transition: transform 2s;
}
.fcontainer a:hover{
    color: white;
    

}
.fcontainer li{
    list-style: none;
    color: rgb(26, 223, 33);
    float: right;
    
}
.fcontainer .msg2{
    float: right;
    padding: 10px 40px;
    border-radius: 5px;
    
}
.fcontainer .msg1{
    float: right;
    padding: 10px 40px;
    border-radius: 5px;
    
}

.fcontainer .btn2{
    padding: 15px 20px;

    border-radius: 5px;
    width: 150px;
    color:black;

}
.fcontainer .btn2:hover{
    color: white;
    background-color: rgb(78, 76, 76);
}
    